<h2>Welcome, Administrator!</h2>

<ul>
  <li><a href="/admin/doctors">All Doctors</a></li>
  <li><a href="/admin/patients">All Patients</a></li>
</ul>

<form action="/add_doctor" method="post">
  <h3>Add a Doctor</h3>

  <div class="form-group">
    <label for="doctor-name">Name</label>
    <input type="text" name="doctor-name" class="form-control">
  </div>

  <div class="form-group">
    <label for="doctor-specialty">Specialty</label>
    <input type="text" name="doctor-specialty" class="form-control">
  </div>

  <button type="submit" class="btn">Add Doctor</button>
</form>

<form action="/add_patient" method="post">
  <h3>Add a Patient</h3>

  <div class="form-group">
    <label for="patient-name">Patient Name</label>
    <input type="text" name="patient-name" class="form-control">
  </div>

  <div class="form-group">
    <label for="patient-birthday">Birthday</label>
    <input type="date" name="patient-birthday" class="form-control">
  </div>

  <div class="form-group">
    <label for="assigned-doctor">Patient's Doctor</label>
    <select class="form-control" name="assigned-doctor">
      <option value="-1">Unassigned</option>
      <% @doctors.each do |doctor| %>
        <option value="<%= doctor.id %>"><%= doctor.name %></option>
      <% end %>
    </select>
  </div>

  <button type="submit" class="btn">Add Patient</button>
</form>
