<% if @patient %>
  <h2>Patient Information</h2>

  <p>
    <strong>Name:</strong> <%= @patient.name %>
  </p>
  <p>
    <strong>Birthday:</strong> <%= @patient.birthday %>
  </p>
  <p>
    <strong>Assigned Doctor:</strong>
    <% if @patient.doctor_id != -1 %>
      <a href="/admin/doctors/<%= @patient.doctor_id %>"><%= Doctor.find(@patient.doctor_id).name %></a>
    <% else %>
      Unassigned
    <% end %>
  </p>
<% else %>
  <h2>Patient Not Found</h2>
<% end %>

<p><a href="/admin/patients">Back to Patient List</a></p>
<p><a href="/admin">Back to Administration</a></p>
