<h1>Welcome to the Doctor Portal!</h1>

<form action="/doctor_info" method="post">
  <div class="form-group">
    <label for="doctor-name">Please enter your name:</label>
    <input type="text" name="doctor-name" class="form-control">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
