<% if @doctor %>
  <form action="/admin/doctors/edit/<%= @doctor.id %>" method="post">
    <h3>Edit Doctor</h3>

    <div class="form-group">
      <label for="doctor-name">Name</label>
      <input id="doctor-name" type="text" name="doctor-name" class="form-control" value="<%= @doctor.name %>">
    </div>

    <div class="form-group">
      <label for="doctor-specialty">Specialty</label>
      <input id="doctor-specialty" type="text" name="doctor-specialty" class="form-control" value="<%= @doctor.specialty %>">
    </div>

    <a href="/admin/doctors/<%= @doctor.id %>"><button type="button" class="btn">Cancel</button></a>
    <button type="submit" class="btn submit-doctor">Update</button>
    <div id="doctor-alert" class="alert alert-danger">
      <p>Name and specialty cannot be blank.</p>
    </div>
  </form>
<% else %>
  <h2>Doctor Not Found</h2>
  <p><a href="/admin/doctors">Back to Doctors List</a></p>
<% end %>
