<h1>Welcome to the Seattle Medical Center!</h1>

<ul>
  <li><a href="/doctor">Doctor Portal</a></li>
  <li><a href="/patient">Patient Portal</a></li>
  <li><a href="/admin">Administration</a></li>
</ul>
