<h1>Welcome to the Seattle Medical Center!</h1>

<ul>
  <li><a href="/doctor_portal">Doctor Portal</a></li>
  <li><a href="/patient_portal">Patient Portal</a></li>
  <li><a href="/admin_portal">Administration</a></li>
</ul>
