<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <title>Seattle Medical Center</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Seattle Medical Center</h1>

        <ul class="nav nav-pills">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/doctor">Doctor Portal</a></li>
          <li role="presentation"><a href="/patient">Patient Portal</a></li>
          <li role="presentation"><a href="/admin/landing">Administration</a></li>
        </ul>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
