<h2>Welcome to the Patient Portal!</h2>

<form action="/patient/info">
  <div class="form-group">
    <label for="patient-name">Please enter your name:</label>
    <input type="text" name="patient-name" class="form-control">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
