<% if @patient %>
  <h2>Welcome, <%= @patient.name %>!</h2>

  <h2>Your Information:</h2>
  <p>
    <strong>Birthday:</strong> <%= @patient.birthday %>
  </p>
  <p>
    <strong>Doctor:</strong> <%= Doctor.find(@patient.doctor_id).name %>
  </p>
<% else %>
  <h2>Name Not Found</h2>
<% end %>

<p><a href="/patient">Back to Patient Portal</a></p>
